# Eclipse/PDT
/.settings/
/.buildpath
/.project

# PhpStorm
.idea

# Netbeans
/nbproject/

# Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]

# OSX
**.DS_Store

# Geo Database
**.mmdb

## Geonames Database
data/*.txt
